
<div >
   <p class="text-4xl font-normal text-gray-900 dark:text-white text-center items-center mb-4">Registro de Entradas</p>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Tipo entradas
                </th>
                <th scope="col" class="px-6 py-3">
                    Monto
                </th>
                @if (isReporting) {
                     <th scope="col" class="px-6 py-3">
                    Fecha
                </th>
                <th scope="col" class="px-6 py-3">
                    Factura
                </th>

                }
                           
            </tr>
        </thead>
        <tbody>
            @for(entrada of allEntradas; track entrada.id_entrada) {
                 <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ entrada.Tipo_entrada }}
                </th>
                <td class="px-6 py-4">
                    {{ entrada.Monto| currency:'USD':'symbol':'1.2-2' }}
                </td>
                @if (isReporting) {
                    
                <td class="px-6 py-4">
                    {{ entrada.Fecha|date:'mediumDate' }}
                </td>
            
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Ir a factura</a>
                </td>
                }
            </tr>
            }
            <tr>
                <td class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                    Total
                </td>
                <td class="px-6 py-4 font-bold text-gray-900 whitespace-nowrap dark:text-white">
                    {{ getTotalEntradas() | currency:'USD':'symbol':'1.2-2' }}
                </td>
            </tr>
           
        </tbody>

    </table>
</div>


</div>