<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  @for (item of dashboardItems; track item.ruta) {
 <div>
    <!-- Card que abre el modal -->
    <a
      [routerLink]="item.ruta"
      routerLinkActive="bg-blue-800"
      class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 cursor-pointer"
    >
      <h5
        class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
      >
        {{ item.name }}  <i [class]="item.icon"></i>
      </h5>
      <p class="font-normal text-gray-700 dark:text-gray-400">
       {{ item.description }}
      </p>
    </a>
  </div>
  }
 
</div>