<div class="flex gap-4">
  <div class="flex-1 bg-gray-700 p-4 rounded">
    <button
      type="button"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      (click)="generatePDF()"
    >
      Generar Reporte Mensual PDF
    </button>
    <div class="mb-4">
      <app-entradas-view-page [isReporting]="false"></app-entradas-view-page>
    </div>
    <div class="mb-4">
      <app-salidas-view-page [isReporting]="false"></app-salidas-view-page>
    </div>
  </div>
  <div class="flex-1 bg-gray-900 p-4 rounded">
    <div
      class="max-w-sm w-full bg-white rounded-lg shadow-sm dark:bg-gray-800 p-4 md:p-6 items-center text-center mx-auto"
    >
      <div class="flex justify-between items-start w-full">
        <div class="flex-col items-center">
          <div class="flex items-center mb-1">
            <h5
              class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1"
            >
              Grafico de balance mensual de Entradas vs Salidas
            </h5>
          </div>
        </div>
        <div class="flex justify-end items-center"></div>
      </div>

      <!-- Line Chart -->
      <div class="py-6" id="pie-chart">
        <canvas id="myChart"> {{ chart }} </canvas>
      </div>
    </div>
  </div>
</div>
